.btn, .navbar, .nav-pills, .label, .thumbnail {
  border-radius: 0;
}
.btn {
  box-shadow: none;
}

/*li :hover{
  text-decoration: none;
}*/

.darkBlueContainer {
  background-color: #16539D;
}
.transparentContainer {
  background-color: transparent;
  border: none;
}
.whiteText{
  color: #ffffff;
}

/*.darkBlueContainer {}*/
